@import url("login.css");
#phone{
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 10px;
    position: absolute;
    width: 352px;
    height: 48px;
    left: 826px;
    top: 370px;
    padding: 10px 24px;
}

#a-password{
    position: absolute;
    width: 165px;
    height: 48px;
    left: 1014px;
    top: 456px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 10px 24px;
}
.a-password .circle{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 985px;
    top: 468px;

}

.a-password img{
    position: absolute;
    width: 154px;
    height: 48px;
    left: 826px;
    top: 456px;
    border-radius: 10px;
}

.submit .btn-a-submit{
    position: absolute;
    width: 353px;
    height: 48px;
    left: 826px;
    top: 535px;
}