@import url('https://fonts.cdnfonts.com/css/iransansx');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'IRANSansX', sans-serif;
}

body {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
    width: 98%;
    height: 100%;
    max-height: 1496px;
    display: flex;
    margin: auto;
}

.sidebar {
    width: 249px;
    height: 1441px;
    background: #F8F8FA;
    border-radius: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 40px;
}

.profile img {
    width: 54.82px;
    height: 54.82px;
    box-shadow: 106.429px 121.248px 120.238px -44.4577px rgba(0, 0, 0, 0.2);
}

.name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name h3 {
    font-family: 'IRANSansX', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #024C80;
}

.name h4 {
    font-family: 'IRANSansX', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #979797;
}

a {
    text-decoration: none;
}

.lists1 ul {
    list-style: none;
}

.lists1 ul .list-item, .lists2 ul .list-item {
    width: 209px;
    height: 59px;
    margin-bottom: .2rem;
}

.empty {
    height: 600px;
}

.lists2 ul {
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
}

a:visited {
    color: #024C80;
}

.list-item a {
    font-family: 'IRANSansX', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: right;
    color: #024C80;
}


.lists1 ul li:nth-child(3) {
    border-right: 4px solid #fff;
    background: #CE1878;
    border-radius: 10px;
}

.active a {
    color: #FFFFFF;
}

.list-item i {
    margin: 0 16px;
}

.content {
    height: 1496px;
    margin: auto;
    width: 95%;
    padding: 5rem 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {

    font-family: 'IRANSansX', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #979797;
}

td {
    font-family: 'IRANSansX', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 31px;
    color: #49454F;
}

th, td {
    padding: 16px;
    text-align: right;
    border-bottom: 1px solid #D9D9D9;
}

tr:nth-child(12) {
    border: none;
}

td:nth-child(1) {
    width: 80px;

}

td:nth-child(4) {
    width: 250px;
}

td:nth-child(6) {
    width: 80px;
}

.title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: right;
    color: #024C80;
}

.btn-property {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 49px 0 63px 0;
    flex-wrap: wrap;
}

.btn-property .property {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 52px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #CE1878;
    cursor: pointer;
}

.btn-property .property span {
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    color: #CE1878;
}


.btn-property .property:hover {
    background: #CE1878;
}

.btn-property .property:hover span {
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    color: #FFFFFF;
}

.exam {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 420px;
    height: 40px;
    border-bottom: 1px solid rgba(2, 76, 128, 0.7);
}

.exam .define, .exam .result {
    width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exam .define span, .exam .result span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #024C80;
}

.exam .define:hover, .exam .result:hover {
    border-bottom: 3px solid #024C80;

}

.exam .define:hover span, .exam .result:hover span {
    font-weight: 700;
}

.file {
    margin: 56px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-file {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.receive button, .upload button {
    border: none;
    background: none;
}

.receive button {
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: right;
    cursor: pointer;
    color: #FFFFFF;
}

.receive i {
    color: #FFFFFF;
}

.upload i {
    color: #024C80;
}

.upload button {
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: right;
    color: #024C80;
    cursor: pointer;
}

.receive, .upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.receive {
    width: 315px;
    height: 58px;
    background: linear-gradient(270deg, #21409A 31.91%, #CE1878 100%);
    border-radius: 90px;
}

.upload {
    width: 198px;
    height: 58px;
    background: #F8F8FA;
    border-radius: 10px;
}

.text span {
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 24px;
    text-align: right;
    color: #024C80;
}

.check {
    display: flex;
    align-items: center;
    gap: 53px;
    margin-bottom: 36px;
}

.check label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #49454F;
    cursor: pointer;
}

table caption {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: right;
    color: #024C80;
    margin: 1em .6rem;
}

tr:last-child > td {
    border-bottom: 0;
}

td > i {
    color: #21409A;
}

.upload-file {
    position: absolute;
    width: 100%;
    height: 1496px;
    background: rgba(2, 76, 128, 0.7);
    border-radius: 37px;
    display: none;
}

.box {
    position: absolute;
    width: 862px;
    height: 672px;
    background: #FFFFFF;
    border-radius: 37px;
    top: 24%;
    right: 30%;
}

.box .name {
    border-bottom: 1px solid rgba(2, 76, 128, 0.7);
    width: 809px;
    margin: auto;
    padding: 1.5rem 0;
}

.box .name span {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: right;
    color: #024C80;
}

.box-file {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 65px;
    margin: 3rem auto;
}

.select-file {
    width: 427px;
    height: 242px;
    border: 1px dashed #49454F;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.select-file span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: right;
    color: #49454F;
}

.btn-select input {
    width: 206px;
    height: 48px;
    background: #CE1878;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
}

.progress {
    width: 426px;
    height: 72px;
    border: 0.5px solid #979797;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #024C80;
}

#progress-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    right: 17%;
}

#progress-bar::before {
    content: '';
    background-color: #F0F0F0;
    width: 288px;
    height: 8px;
    border-radius: 90px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.bar {
    position: absolute;
    top: 50%;
    right: 0;
    transition: .4s ease;
    background: #024C80;
    border-radius: 90px;
    width: 15%;
    height: 8px;
    transform: translateY(-50%);
}

#file {
    color: #024C80;
    position: absolute;
    right: -7%;
}

#circle {
    color: #FF0000;
    position: absolute;
    left: 25%;
}

.sub {
    display: flex;
    align-items: center;
    gap: 22px;
}

.dissuasion, .registration {
    border: none;
    cursor: pointer;

}

.dissuasion {
    width: 204px;
    height: 48px;
    border: 1px solid #49454F;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: center;
    color: #49454F;
    background-color: #FFFFFF;
}

.registration {
    width: 200px;
    height: 48px;
    background: #024C80;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 992px) {

    .container {
        width: 100%;
        height: 100%;
    }

    .sidebar {
        margin: 0;
        justify-content: center;
        height: 100%;
        display: none;
    }

    .content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: .5rem;
    }

    .btn-property {
        justify-content: center;
    }

    .exam {
        width: 90%;
        margin: auto;
    }

    .file {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: .8rem;
    }

    .choose-file {
        gap: 20px;
    }

    .check {
        gap: 35px;
        padding: .8rem;
    }
}

@media screen and (max-width: 600px) {
    .file {
        align-items: center;
    }

    .choose-file {
        flex-direction: column;
    }

    table {
        border: 0;
    }

    table caption {
        text-align: center;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    table tr {
        border: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.3)
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: left;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: right;
        font-weight: bold;
    }

    tr:last-child > td {
        border-bottom: 1px solid #ddd;
    }

    td:nth-child(6), td:nth-child(4), td:nth-child(1) {
        width: 100%;
    }
}