* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
}

.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
}

.left {
    width: 756px;
    height: 650px;
}

.right {
    width: calc(100% - 756px);
    padding: 3rem 5rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 33px 0;
}

.content .title {
    width: 352px;
    height: 40px;
    border-bottom: 1px solid rgba(2, 76, 128, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 39px 0 46px 0;
}

.title .login, .title .register {
    width: 176px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-bottom: 2px solid #024C80;
}

.active a{
    font-weight: 700;
}

.title .login a, .title .register a {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 28px;
    text-align: center;
    color: #024C80;
}

.title .login:hover, .title .register:hover {
    border-bottom: 2px solid #024C80;
}

.title .login:hover a, .title .register:hover a {
    font-weight: 700;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: flex;
    gap: 9px;

}

.nav ul li a {
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.nav ul li i {
    width: 24px;
    height: 24px;
    color: #024C80

}

.content .logo img {
    width: 280px;
    height: 84px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 35px;
}

.form-input {
    display: flex;
    align-items: center;
}

.l-password {
    gap: 5px;
}

#national, #l-password, #phone{
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 10px 24px;
}

#national, #phone {
    width: 352px;
    height: 48px;
}

#l-password {
    width: 165px;
    height: 48px;
}

.circle {
    position: relative;
    border: 2px solid #3fe03f;
    width: 24px;
    height: 24px;
}

.circle i {
    color: #024C80;
    position: absolute;
    top: 10%;
    right: 10%;
}

.l-password img {
    width: 154px;
    height: 48px;
    border-radius: 10px;
}

.submit button {
    width: 353px;
    height: 48px;
    background: #024C80;
    border-radius: 10px;
    border: none;
    font-family: 'IRANSansX';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

@media (max-width: 413px) {
    .right{
        width: 100%;
        padding: 3rem 4rem;
    }
    .main{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .left{
        display: none;
    }

    .content{
        margin: 100px auto;
    }

}

@media (max-width: 821px) {
    .right{
        width: 100%;
        margin: auto;
    }
    .main{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .left{
        display: none;
    }

    .content{
        margin: 100px auto;
        width: 100%;
    }


}







