@import url('https://fonts.cdnfonts.com/css/iransansx');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    position: relative;
    background: #FFFFFF;
    font-family: 'IRANSansX', sans-serif;
}

.container {
    /*max-width: 1440px;*/
    width: 100%;
    margin: auto;
}

header {
    position: relative;
    padding: 0 2.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar .logo img {
    width: 280px;
    height: 84px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.list-item {
    list-style: none;
}

.navbar .lists {
    display: flex;
    gap: 1.5rem;
}

.navbar .lists .list-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #024C80;
}

.navbar .toggle-btn {
    color: #666666;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(270deg, #21409A 31.91%, #CE1878 100%);
    border-radius: 30px;
    padding: 1rem 4rem;
    transition: scale .2s ease;
}

.action-btn:active {
    scale: .95;
}

.action-btn:hover {
    scale: 1.05;
    color: #FFFFFF;
}

.action-btn a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.action-btn i {
    color: #FFFFFF;
}


.titr {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 3rem auto;
    padding: 0 5.5rem;
    /*background-image: url("../images/web/shape.png");*/
    /*background-size: 100% 765px;*/
    /*background-position: top;*/
    /*background-repeat: repeat-y;*/
}

.titr .title {
    width: 544px;
    height: 360px;
}

.titr .title h2 {
    width: 126px;
    height: 53px;
}

.titr .title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
    color: #666666;
}

.pic {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
}

.pic img {
    width: 472px;
    height: 456px;
}

.system {
    padding: 0 5.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.system .title-system h3, .titr .title h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;

    text-align: right;
    color: #F95500;
}


.system .title-system p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
    color: #666666;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 85px);
    gap: 100px;
    margin-top: 3.5rem;

}

.row1, .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
    flex-wrap: wrap;
}

.col {
    width: 258px;
    height: 61px;
    left: 1014px;
    top: 1131px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(13, 130, 232, 0.16);
    border-radius: 30px;
}

.btn-system {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.col div {
    display: flex;
    align-items: center;
    width: 40px;
    height: 35px;
    background-color: #ECF2F8;
    margin-left: 16px;
    border-radius: 100%;
}

.col i {
    margin-right: 8px;
    color: #024C80;
}

.col span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.025em;

    color: #024C80;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url("../images/web/Shape 595 1.png") no-repeat center;
    background-size: 100% 752px;
}

.title-form {
    margin-top: 4rem;
    text-align: center;
}

.title-form h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    color: #F95500;
    margin-bottom: 26px;
}

.title-form h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #024C80;
}

.btn-jazb {
    margin: 57px 0 26px 0;
}

.pic .btn, .btn-jazb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 27px;

}

.pic .btn button, .btn-jazb button {
    height: 48px;
    border: none;
    cursor: pointer;
}

.pic .btn button:nth-child(1), .btn-jazb button:nth-child(1) {
    width: 164px;
    border-radius: 30px;
    background: linear-gradient(270deg, #21409A 31.91%, #CE1878 100%);
}

.pic .btn button:nth-child(2), .btn-jazb button:nth-child(2) {
    width: 170px;
    border-radius: 55px;
    background: linear-gradient(270deg, #FF8601 31.91%, #FE1D00 100%);
}

.pic .btn button, .btn-jazb button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    font-family: 'IRANSansX', sans-serif;
    color: #FFFFFF;
}

.image {
    position: relative;
    width: 363px;
    height: 438px;
}

.tooltip1::before, .tooltip1::after {
    filter: drop-shadow(0px 0px 1px rgba(23, 15, 73, 0.03)) drop-shadow(0px 1px 1px rgba(23, 15, 73, 0.04)) drop-shadow(0px 5px 14px rgba(8, 15, 52, 0.04));
    ---arrow-size: 10px;
    --tooltip-color: #FFFFFF;
    position: absolute;
    top: 30%;
    right: -7%;
}

.tooltip1::before {
    --translate-y: calc(20% - var(---arrow-size));
    content: attr(data-tooltip);
    padding: 12px 34px;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
    border-radius: 10px;
    text-align: center;

}

/*.tooltip1::after {*/
/*    content: ' ';*/
/*    border: var(---arrow-size) solid rgba(0, 0, 0, 0.32);*/
/*    border-top-color: var(--tooltip-color);*/
/*    transform-origin: left center;*/
/*}*/

.tooltip2::before, .tooltip2::after {
    filter: drop-shadow(0px 0px 1px rgba(23, 15, 73, 0.03)) drop-shadow(0px 1px 1px rgba(23, 15, 73, 0.04)) drop-shadow(0px 5px 14px rgba(8, 15, 52, 0.04));
    ---arrow-size: 10px;
    --tooltip-color: #FFFFFF;
    position: absolute;
    top: 20%;
    left: -15%;
}

.tooltip2::before {
    content: attr(data-tooltip);
    padding: 12px 34px;
    width: max-content;
    background: var(--tooltip-color);
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
}


.tooltip1, .tooltip2 {
    font-family: 'Dast Nevis';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #024C80;
}

.footer {
    width: 100%;
    background: linear-gradient(283.1deg, #000428 9.04%, #004E92 80.06%);
    height: 225px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: .8rem 0;
}

.contact img {
    height: 84px;
    width: 280px;
    border: 2px solid green;
}

.cont-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.f-row1, .f-row2 {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;

}

.f-col {
    width: 270px;
    height: 26px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    cursor: pointer;
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);;
}

.copy {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: auto 3.5rem;
}

.social-media {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}

.social-media div {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 100%;
    position: relative;
}

.instagram {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 27%;
    right: 26%;
}

.comment {
    width: 21px;
    height: 22px;
    position: absolute;
    top: 23%;
    right: 25%;
}

.video {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 15%;
    right: 15%;
}

.linkedin {
    width: 20px;
    height: 22px;
    position: absolute;
    top: 17%;
    right: 23%;
}

.youtube {
    width: 22px;
    height: 18px;
    position: absolute;
    top: 27%;
    right: 22%;
}

.copy p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    text-align: right;

    color: #FFFFFF;
}

hr {
    color: rgba(255, 255, 255, 0.2);;
}

.drop-menu {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 85px;
    width: 350px;
    height: 0;
    background-color: rgb(229, 228, 228);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s ease-in;
}

.drop-menu.open {
    height: 330px;
}

.drop-menu li a {
    color: #024C80;
}

.drop-menu li .action-btn a {
    color: #FFFFFF;
}


.drop-menu li {
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-menu .action-btn {
    width: 100%;
}

@media (max-width: 992px) {
    header {
        padding: 0 1rem;
    }

    .navbar .lists, .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .drop-menu {
        display: block;
    }

    .titr {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5rem;
        gap: 20px;
    }

    .titr .title {
        width: 100%;
        height: 100%;
    }

    .pic {
        width: 100%;
    }

    .pic .btn {
        width: 100%;
    }

    .pic img {
        width: 100%;
        height: 100%;
    }

    .system {
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        width: 100%;
    }

    .system .title-system {
        width: 100%;
    }

    .btn-system {
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
    }

    .row1, .row2 {
        justify-content: center;
        gap: 10px;
    }

    .footer {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        /*margin-top: 1.8rem;*/
    }

    .contact img {
        display: none;
    }

    .cont-foot {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .f-row1, .f-row2 {
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
    }

    .f-col {
        width: 50%;
        text-align: center;
    }

    .media {
        flex-direction: column;
        padding: 1rem 0;
        gap: 10px;
    }

    .copy {
        margin: 0;
    }

    .copy p {
        font-size: 13px;
    }

    .form {
        background: url("../images/web/Shape 595 1.png") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .content {
        width: 100%;
    }

    .tooltip1::before {
        right: 2%;
    }

    .tooltip2::before {
        top: 10%;
        left: 2%;
    }
}

@media (max-width: 362px) {
    .system .title-system h2 {
        width: 100%;
        height: 100%;
    }

    .title-form h2 {
        font-size: 25px;
    }

    .title-form h3 {
        font-size: 20px;
    }

    .btn-jazb {
        width: 100%;
        gap: 10px;
    }

    .image {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .drop-menu {
        left: 1.5rem;
        width: unset;
    }
}
